*{
    margin: 0px;
    padding: 0px;
      

}
body{
    background-color: black;
    width: 100%;
}

.container{
    background: lightgray;
    height: 600px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 10px;



}

.box{
    height: 100px;
    width: 100px;
}
.first{
    background-color: red;
    flex-grow: 1;
    flex-shrink: 1;
}
.second{
    background-color: green;
        flex-grow: 2;
        flex-shrink: 4;

}
.third{
    background-color: blue;
    flex-basis: 200px;
}
.fourth{
    background-color: yellow;
}
.fifth{
    background-color: orange;
}