*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* .container{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    height: 400px;
    width: 400px;
    background-color: aqua;
    gap: 10px;
    padding: 10px;
} */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 400px;
    width: 400px;
    background-color: aqua;
    gap: 10px;
    padding: 10px;

}
.box{
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first{
    background-color: red;
}
.second{
    background-color: green;
}
.third{
    background-color: blue;
}
.fourth{
    background-color: yellow;
}