* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray; */
}

/* Chessboard container */
.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  /* width: 800px ;
  height: 800px; */
  width: 100vmin  ;
  height: 100vmin;
  border: 10px solid grey;
}

/* Each box */
.box {
  width: 100px;
  height: 100px;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}