* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
body {
  padding: 20px;
  background-color: black;
  color: white;
}
button {
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}
.container{
  display: flex;
  width: 100%;
  justify-content:space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}
.box{
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 20px;
  
}
.box input{
  margin-top: 20px;
  padding: 10px;
  border: none;
  outline: none;
  margin-left: 20px;
}