* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.button {
  display: flex;
  gap: 20px;
  margin-top: 10px;

  justify-content: center;
  align-items: center;
}
button {
  padding: 5px;
}
