*{
    margin: 0px;
    padding: 0px;
}

div{
    background-color: grey;
    height: 1800px;
}
#relative {
background-color: pink;
position: relative;
left: 250px;
}
#fixed {
    background-color: lightblue;
   position: fixed; 
    
    /* [Fixed element sits here] fixed ki jagah par koi aur element aa sakta hain
[Sticky element is underneath → hidden] */
    
    right: 0px;
    top: 0px;
}

#sticky {
    background-color: lightgreen;
    position: sticky;
    top: 0px;
}

#absolute {
    background-color: lightyellow;
    position: absolute;
    top: 200px;
    z-index: 1; /* z-index by default 0 hain  jiski jyada hongi wo upar ayenga*/


    /* 


position: absolute removes the element from normal flow

So:

#sticky behaves like a normal element (until it sticks)
#absolute is independent and can overlap anything
    
    html
 └── body
      └── div
           ├── #relative
           ├── #sticky   ❌ (sibling)
           ├── #absolute ✅ (target)
           └── #fixed


           #absolute → checks parent div
          → then body
          → then html 
    
    
    */
   
}