*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
     align-items: center;
      margin: 20px;
    padding: 20px;
     display: flex;
     height: 100vh;
     justify-content: center;
}
.container{
    width: 400px;
    height: 400px;
   
    color: white;
    
    border: 5px solid red;
    margin: 20px;
    padding: 20px;
    overflow: auto;
    overflow-x: hidden;
}
