*{
    margin: 0px;
    padding: 0px;
}
#container{
    background-color: yellow;
    width: 500px;
    height: 250px;
    position: relative;

}

.box, .second{
    background-color: blue;
    width: 150px;
    height: 100px;
    position: absolute;
}

.second{
bottom: 0px;   
}

.third, .forth{
   background-color: blue;
   width: 300px;
   height: 100px;
   position: absolute;
   top: 0px;
   right: 0px;
   
}

.forth{
    bottom: 0px;
    right: 0px;
    top: auto; 
    /* Removes top constraint top: auto is used to remove the previous top value so the element can move to the bottom correctly*/
}